<!-- HEADER AWAL -->
<div style="min-height:645px;"
	<div style="margin-top:0px;margin-bottom:-50px;">
		<div class="header row panel-heading">
            <div class="panel-title">
				<table border="0" width="100%">
				<tr>
                    <td width="15%">
                        <img src="image/logo.png">
                    </td>
					<td width="70%" align="center">
                        <h1 style="font-family:'Rockwell';color:white">JOB INFORMATION SYSTEM</h1>
					</td>
					<td width="15%" align="right" valign="bottom" style="padding-right:15px;">
						<a href ng-click="logout()" style="color:white;">Logout</a>
					</td>
				</tr>
				</table>
			</div>
        </div>
		<div class="col-md-5 col-md-offset-7" style="text-align:right;">
			<div style="padding:15px;float:left;">
				<a href ng-click="beranda=true;tambah=false;cari=false;perusahaan=false;cv=false;sekolah=false" style="color:white;text-decoration:none">Beranda</a>
			</div>
			<div style="padding:15px;float:left;">
				<a href ng-click="beranda=false;tambah=true;cari=false;perusahaan=false;cv=false;sekolah=false" style="color:white;text-decoration:none">Tambah Loker</a>
			</div>
			<div style="padding:15px;float:left;">
				<a href ng-click="beranda=false;tambah=false;cari=true;perusahaan=false;cv=false;sekolah=false" style="color:white;text-decoration:none">Cari Lowongan</a>
			</div>
			<div style="padding:15px;float:left;">
				<a href ng-click="beranda=false;tambah=false;cari=false;perusahaan=true;cv=false;sekolah=false" style="color:white;text-decoration:none">Profil Perusahaan</a>
			</div>
			<div style="padding:15px;float:left;">
				<a href ng-click="beranda=false;tambah=false;cari=false;perusahaan=false;cv=false;sekolah=true" style="color:white;text-decoration:none">Profil Sekolah</a>
			</div>
			<div style="padding:15px;float:left;">
				<a href ng-click="beranda=false;tambah=false;cari=false;perusahaan=false;cv=true;sekolah=false" style="color:white;text-decoration:none">CV</a>
			</div>
		</div>
	<!-- HEADER AKHIR -->

	<div style="margin-top:0;" class="col-lg-12">
			<div beranda-directive ng-init="beranda=true" ng-show="beranda">
			</div>
			<div tambah-directive ng-show="tambah">
			</div>
			<div cari-directive ng-show="cari">
			</div>
			<div perusahaan-directive ng-show="perusahaan">
			</div>
			<div cv-directive ng-show="cv">
			</div>
    </div>
</div>