<!-- HEADER AWAL -->
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="image/logo.png" alt=""></a>
      <a class="navbar-brand" href="#"><h3>Job Information System</h3></a>  
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="button navbar-right">
          <button class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.6s" ng-click="logout()">Logout</button>
      </div>
      <ul class="main-nav nav navbar-nav navbar-right">
        <li class="wow fadeInDown" data-wow-delay="0s"><a ng-click="beranda=true;cari=false;perusahaan=false;cv=false" href>Beranda</a></li>
        <li class="wow fadeInDown" data-wow-delay="0.1s"><a href ng-click="beranda=false;cari=true;perusahaan=false;cv=false">Cari Lowongan</a></li>
        <li class="wow fadeInDown" data-wow-delay="0.2s"><a href ng-click="beranda=false;cari=false;perusahaan=false;cv=true">CV</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="content-area">
    <div class="container">
        <div homep-directive ng-init="beranda=true" ng-show="beranda">
        </div>
        <div cari-directive ng-show="cari">
        </div>
        <div perusahaan-directive ng-show="perusahaan">
        </div>
        <div cv-directive ng-show="cv">
        </div>
    </div>
</div>